@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #8cccff;
}

.box {
  width: 300px;
}

.box .inputBx {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .15);
}

.box .inputBx input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 5px;
}

.box .inputBx #toggleBtn {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 34px;
  height: 34px;
  background-color: rgba(0, 0, 0, .05);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .inputBx #toggleBtn::before {
  content: '\f06e';
  font-family: fontAwesome;
}

.box .inputBx #toggleBtn.hide::before {
  content: '\f070';
}

.box .validation{
  background-color: #376488;
  padding: 10px;
  margin: 30px 0;
  border-radius: 8px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .15);
}

.box .validation ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.box .validation li{
  list-style-type: none;
  color: white;
  font-size: 0.85em;
  transition: 0.5s;
}

.box .validation li::before {
  content: '\f192';
  font-family: fontAwesome;
  width: 20px;
  height: 10px;
  display: inline-flex;
}

.box .validation li.valid {
  color: rgba(255, 255, 255, .5)
}

.box .validation li.valid::before {
  content: '\f00c';
  color: #00ff00;
}

.box .sanction input {
  width: 100%;
  background-color: #376488;
  color: white;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .15);
  text-align: center;
}

.box .sanction input:disabled {
  background-color: #607484;
  color: #aeb0b1;
}